.headerss {
	background: #fff;
	font-family: "Comfortaa", sans-serif;
	position: relative;
}


* {
	box-sizing: border-box;
}

.main-content {
	text-align: center;
	text-transform: uppercase;
	scroll-snap-type: y mandatory;
	position: relative;
	height: 100vh;
	overflow-y: scroll;
}

.hover,
.word,
.headerss .word  {
	position: relative;
	color: #fff;
	font: 900 60px Montserrat;
	text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.concept {
	position: relative;
	padding: 5em;
	height: 100vh;
	overflow: hidden;
	scroll-snap-align: center;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
		opacity: 0;
		transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	}
	&:hover:before {
		opacity: 0.5;
	}
}


.concept-six {
	display: flex;
	align-items: center;
	background: url(../heads.png) top
		right / cover;
	.word {
		width: 550px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80%;
		&:hover {
			.char:nth-child(1) {
				margin-top: -30px;
				transform: rotate(-20deg);
			}
			.char:nth-child(2) {
				margin: -40px 0px 0 10px;
				transform: rotate(5deg);
			}
			.char:nth-child(3) {
				margin: 10px;
                margin-top: -30px;
				transform: rotate(20deg);
			}
			.char:nth-child(4) {
				margin: -25px 0 0;
				transform: rotate(5deg);
			}
			.char:nth-child(5) {
				margin: -40px 5px 0;
				transform: rotate(-10deg);
			}
            .char:nth-child(6) {
				margin-top: -30px;
				transform: rotate(-20deg);
			}
			.char:nth-child(7) {
				margin: -40px 0px 0 10px;
				transform: rotate(5deg);
			}
			.char:nth-child(8) {
				margin: 10px;
                margin-top: -30px;
				transform: rotate(20deg);
			}
			.char:nth-child(9) {
				margin: -25px 0 0;
				transform: rotate(5deg);
			}
			.char:nth-child(10) {
				margin: -40px 5px 0;
				transform: rotate(-10deg);
			}
            .char:nth-child(11) {
				margin-top: -30px;
				transform: rotate(-20deg);
			}
			.char:nth-child(12) {
				margin: -40px 0px 0 10px;
				transform: rotate(5deg);
			
		}
	}
	.char {
		flex: 1;
		transition: 0.3s ease-in-out;
		position: relative;
	}
}



@keyframes falls {
	0% {
		opacity: 0;
		top: 0;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: 100px;
	}
}
