/* .body {
    background-color: aquamarine;
} */

/* .ally {
    background-color: aliceblue;
} */

.heading {
		text-align:center;
		font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		border-width: medium;
		border-color: black;
		border-style: solid;
		background-color: #DAFF7D;
		text-decoration-color: darkblue;
		margin-left: 100px;
		margin-right: 100px;
		border-radius: 30px;

}



.nbar {
		  position: fixed;
		  top: 0;
		  width: 100%;
		z-index: 10;
	}

    .dropdown {
				text-align:center;
		}
	.down {
		background-color: #1B998B;
		color: #ffffff;
		text-align: center;
	}

.afterss {
    padding: 30px;

}

/* Don't know if need these */
.blue {
		background-color: #D1FAFF;
	}
	.center {
		text-align: center;
		padding:25px;
	}
	.table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	tr:nth-child(even) {
	  background-color: #dddddd;
	}
	.whited {
		text-align: center;
	}
	.center {
		margin-left: auto;
		margin-right: auto;
		border:thick;
	}
	.icons {
		text-align: center;
		
	}

  .end {
    background-image: url(foot.png);
    text-align: center;
  }

  .downl {
  background-color: #005aba;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;

}


  .downl:hover {
  background-color: #1571d4;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  }

  .formy {
  text-align: center;
  }

  .form {
  background-color: #005aba;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-left: 100px;
  margin-right: 100px

}

.form:hover {
  background-color: #005aba;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  position: relative;
}


  .btw {
    /* background-color: #fbffff; */
    background-color: white;
    flex: 1 1 280px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    border-style: groove;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    margin-right: 300px;
    margin-left: 300px;
  }
/* ###################################################
#################READING LISTS#####################
################################################### */
.reading-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 1000px;
}

.card {
  flex: 1 1 280px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  

  /* box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.62), 1px 0px 0px 0px rgba(0, 0, 0, 0.62),
    1px 2px 0px 0px rgba(0, 0, 0, 0.62), 2px 1px 0px 0px rgba(0, 0, 0, 0.62),
    2px 3px 0px 0px rgba(0, 0, 0, 0.62), 3px 2px 0px 0px rgba(0, 0, 0, 0.62),
    3px 4px 0px 0px rgba(0, 0, 0, 0.62), 4px 3px 0px 0px rgba(0, 0, 0, 0.62),
    4px 5px 0px 0px rgba(0, 0, 0, 0.62), 5px 4px 0px 0px rgba(0, 0, 0, 0.62),
    5px 6px 0px 0px rgba(0, 0, 0, 0.62), 6px 5px 0px 0px rgba(0, 0, 0, 0.62),
    6px 7px 0px 0px rgba(0, 0, 0, 0.62), 7px 6px 0px 0px rgba(0, 0, 0, 0.62),
    7px 8px 0px 0px rgba(0, 0, 0, 0.62), 8px 7px 0px 0px rgba(0, 0, 0, 0.62); */
    box-shadow: 0px 1px 0px 0px rgba(61, 131, 204, 0.62),
            1px 0px 0px 0px rgba(61, 131, 204, 0.62),
            1px 2px 0px 0px rgba(61, 131, 204, 0.62),
            2px 1px 0px 0px rgba(61, 131, 204, 0.62),
            2px 3px 0px 0px rgba(61, 131, 204, 0.62),
            3px 2px 0px 0px rgba(61, 131, 204, 0.62),
            3px 4px 0px 0px rgba(61, 131, 204, 0.62),
            4px 3px 0px 0px rgba(61, 131, 204, 0.62),
            4px 5px 0px 0px rgba(61, 131, 204, 0.62),
            5px 4px 0px 0px rgba(61, 131, 204, 0.62),
            5px 6px 0px 0px rgba(61, 131, 204, 0.62),
            6px 5px 0px 0px rgba(61, 131, 204, 0.62),
            6px 7px 0px 0px rgba(61, 131, 204, 0.62),
            7px 6px 0px 0px rgba(61, 131, 204, 0.62),
            7px 8px 0px 0px rgba(61, 131, 204, 0.62),
            8px 7px 0px 0px rgba(61, 131, 204, 0.62);

}

.card1 {
  flex: 1 1 280px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  /* text-align: left; */
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  margin-right: 300px;
  margin-left: 300px;
  
  box-shadow: 0px 1px 0px 0px rgba(61, 131, 204, 0.62),
    1px 0px 0px 0px rgba(255, 69, 69, 0.62),
    1px 2px 0px 0px rgba(255, 69, 69, 0.62),
    2px 1px 0px 0px rgba(255, 69, 69, 0.62),
    2px 3px 0px 0px rgba(255, 69, 69, 0.62),
    3px 2px 0px 0px rgba(255, 69, 69, 0.62),
    3px 4px 0px 0px rgba(255, 69, 69, 0.62),
    4px 3px 0px 0px rgba(255, 69, 69, 0.62),
    4px 5px 0px 0px rgba(255, 69, 69, 0.62),
    5px 4px 0px 0px rgba(255, 69, 69, 0.62),
    5px 6px 0px 0px rgba(255, 69, 69, 0.62),
    6px 5px 0px 0px rgba(255, 69, 69, 0.62),
    6px 7px 0px 0px rgba(255, 69, 69, 0.62),
    7px 6px 0px 0px rgba(255, 69, 69, 0.62),
    7px 8px 0px 0px rgba(255, 69, 69, 0.62),
    8px 7px 0px 0px rgba(255, 69, 69, 0.62);

}

@media (max-width: 768px) {
  .card1 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.card:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 6px 18px rgba(0,0,0,0.1); */
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #1e40af; /* nice blue */
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
  color: #111;
}

.desc {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
